<app-core-beer #beerCore (beersChangeEvent)="refreshBeerBoard($event)">
  <button type="button" (click)="beerCore.getBeers()">
    Refresh the beer board
  </button>
  <table>
    <thead>
      <tr>
        <th>Beer Name</th>
        <th>Beer Stock</th>
        <th>Beer Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beer of beers">
        <td>{{ beer.name }}</td>
        <td>{{ beer.quantity }}</td>
        <td>{{ beer.price }}</td>
        <td>
          <button type="button" (click)="beerCore.stockBeer(beer)">
            Stock 1 {{ beer.name }}
          </button>
          <button type="button" (click)="beerCore.sellBeer(beer)">
            Sell 1 {{ beer.name }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-core-beer>
